/***** The following CSS applies to portfolio.php *****/

.gallery-nav-buttons {
	height: 10px;
	width: 400px;
	margin-left: 50px;
	position: absolute;
}

a.prev-button, a.next-button {
	position: absolute;
	display: block;
	font-size: 40px;
	font-weight: 100;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background: #777;
	border: 3px #333 solid;
	border-radius: 25px;
	height: 40px;
	width: 40px;
	z-index: 10;
}

a.prev-button {
	left: -50px;
	top: 20px;
}

a.next-button {	
	right: -50px;
	top: 20px;
}

a.prev-button:hover, a.next-button:hover {
	background: #333;
}

.project {
	position: relative;
	min-height: 473px;
	max-width: 780px;
	word-break: break-word;
	
	margin: 0px;
	padding: 20px 0px 0px 0px;
	
}

.project .title {
	font: bold 20px Book Antiqua, Arial, sans-serif;
	margin: 0px;
}

.project .description {
	font: italic 15px Book Antiqua, Arial, sans-serif;
	margin: 0px;
}

.project .caption {
	clear: right;
	float: right;
	display: block;
	font: 14px Book Antiqua, Arial, sans-serif;
	width: 260px;
	margin-top: 20px;
	padding: 0px;
}

.project .caption:before {
	content: url('../images/red-triangle-bullet-10.png');
}

.gallery {
	float: left;
	width: 400px;
	height: 400px;
	margin-top: 20px;
}

.gallery img {
	width: 400px;
}

